<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chiper</title>
    <link rel="stylesheet" href="/dist/css/custom-skeleton.css">
    <link rel="stylesheet" href="/dist/css/chirper-style.css">
</head>
<body>
<div class="container" id="app"></div>
<script>
    var USER = <%- JSON.stringify(user) ;%>
</script>
<script src="/dist/js/Bundle.js"></script>
</body>
</html>